body.cocktails.new, body.cocktails.create {
  background-image: url("background.jpg");
  background-size: cover;
.new-header {
  display: flex;
  justify-content: center;
  h1 {
    display: flex;
    color: white;
    justify-content: center;
    font-size:35px;
    font-weight: bold;
    width: 500px;
    border-radius:10px;
    padding: 30px;
    margin: 20px;
    background-color: rgba(0,0,0,0.5);
  }
}

.new-container {
  display: flex;
  justify-content:center;
  align: center;
  .new-form {
    color: white;
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius:10px;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 20px;
    background-color: rgba(0,0,0,0.5);
    input {
      color: black;
    &:hover {
    opacity: 1;
      text-decoration: none;
      color: black;
    }
    }
  }
}

}
